.modinfo {
    display: flex;
    justify-content: center;
    background-color: var(--bg-1);
    color: var(--fg-0);
    padding: 2em;
    width: 20em;
}

.title {
    padding-top: .25em;
}