.modsList {
    display: flex;
    overflow: auto;
}

.mods {
    width: 100%;
    overflow: auto;
    margin-bottom: 6.5em;
}

.list {
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 3em 28% 23% 23.25% auto;
    grid-template-rows: auto;
    background-color: var(--bg-1);
    text-align: center;
    margin-bottom: .5em;
    padding: .4em .3em .4em .3em;
    overflow: auto;
    z-index: 1;
}