.sidebar {
    align-items: stretch;
    background-color: var(--bg-1);
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.25s;
    width: 5em;
    height: 100%;
    padding-top: 3em;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.sidebar:is(:hover, :focus-within) {
    width: 10em;
}

.category {
    font-size: 15pt;
    padding: 0 0 0 1em;
    height: 3em;
    width: 10em;
    text-align: left;
    background-color: var(--bg-1);
    border: transparent 2px solid;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.category:is(:hover, :focus, :active) {
    background-color: var(--accent-0);
    outline: none;
}

.action {
    background-color: black;
}