.content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    color: var(--fg-0);
    align-items: stretch;
    flex: 1 1;
    position: relative;
    width: 100%;
    margin-left: 4.5em;
    transition: .25s;
}

.darkened {
    position: fixed;
    top: 0;
    content: '';
    background-color: black;
    transition: .25s;
    height: 100%;
    width: 100%;
    opacity: 0%;
    z-index: 1;
    pointer-events:none;
}

.darkenedActive {
    transition: .25s;
    opacity: 50%;
}

.icon {
    width: 30px;
    margin-right: .3em;
}

.title {
    padding-top: .25em;
    font-size: larger;
}