.theme-dark {
    --accent-0: #007acc;
    --accent-1: #3e6994;
    --accent-2: #3c4858;
    --bg-0: #262728;
    --bg-1: #1e1e1e;
    --bg-2: #2f3235;
    --bg-3: #000000;
    --bg-4: #1A1A1A;
    --fg-0: #FFFFFF;
}