.mod {
    display: grid;
    grid-template-columns: 3em 28% 23% 23.25% auto;
    grid-template-rows: auto;
    background-color: var(--bg-2);
    padding: .9em;
    margin: 0 .75em .5em .75em;
    border-radius: .75em;
    transition: 100ms;
    text-wrap: nowrap;
    cursor: pointer;
}

.mod:hover {
    background-color: var(--accent-2);
    transition: 100ms;
}

.version {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
}